body {
  margin: auto;
}
header {
  padding: 0;
  margin: 0;
}
p, a, span, label {
  font-size: 0.85rem;
}
a {
  text-decoration: none;
  color: #00f;
}
a h1 { /* topTitle */
  color: #000;
}
h1 {
  font-size: 1.2rem;
  background-color: #ada;
  padding: 1rem 0;
  margin: 2rem auto;
  width: 80%;
  text-align: center;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 0.9rem;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
footer {
  background-color: #aaa;
  text-align: center;
  padding: 2rem 0;
  margin-top: 3rem;
}

.writeNewTitle,
.thread,
.threadTitles,
.formContainer,
.sideMenu {
  background-color: #ddd;
  width: 80%;
  padding: 1rem;
  margin: 0 auto;
}
.writeNewTitle {
  margin-bottom: 0.5rem;
}
.threadTitles {
  margin-bottom: 3rem;
}
.thread {
  margin-bottom: 1rem;
}
.success {
  padding: 1rem;
  text-align: center;
}

/*-------------------------
  スレッド
-------------------------*/
.threadWrap {
  padding: 0 1rem;
}

/*-------------------------
  ハンバーガーメニュー
-------------------------*/
.sideMenu {
  width: 30%;
  margin-right: 0;
}
.sideItems {
  text-align: center;
}
.toSignUp {
  text-align: right;
}
.toSignUp a {
  font-size: 0.65rem;
}
.formContainer h2 {
  text-align: center;
}
.uniForm {
  width: 80%;
  margin: 0 auto 2rem;
}
.formField {
  margin-bottom: 1rem;
}
.formField input,
.formField textarea {
  width: 100%;
  padding: 0.2rem 0;
}
.submitButton {
  display: block;
  width: 8rem;
  padding: 0.2rem;
  margin: 1rem auto;
  background-color: #17f;
  border: none;
  color: #fff;
}
.errorMsg {
  color: red;
  font-size: 0.9rem;
  margin: 0;
}
.msgOK {
  color: #17f;
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
}
